<div class="container">
    <form #usuarioForm="ngForm" (ngSubmit)="onSubmit()">
        <br>
        <p-card [header]="!id ? 'Cadastro de Produto' : 'Editar Produto'">
            
            <div class="formgrid grid">
                <div class="field col-12 md:col-12">
                    <label >Nome </label>
                    <input type="text" [(ngModel)]="produto.nome" id="nome" name="nome"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col-12 md:col-12">
                    <label >Descrição</label>
                    <input type="text" [(ngModel)]="produto.descricao" id="descricao" name="descricao"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                <div class="field col-12 md:col-6">
                    <label >Valor</label>
                        <p-inputNumber [(ngModel)]="produto.valor" 
                            name="valor" id="valor" inputId="locale-user" 
                            [minFractionDigits]="2"class="w-full">
                        </p-inputNumber>
                </div>
                <div class="field col-12 md:col-6">
                    <label >Quantidade estoque</label>
                    <input type="number" [(ngModel)]="produto.quantidadeEstoque" id="quantidadeEstoque" name="quantidadeEstoque"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
            </div>

            <br>

            <div class="formgrid grid">
                <div class="field col-12 md:col-3">
                    <button pButton [label]="!id ? 'Cadastro de Produto' : 'Editar Produto'" type="submit" pRipple icon="pi pi-check" iconPos="right" class="p-button-success"></button>
                </div>
                <div class="field col-12 md:col-3">
                    <p-button type="reset" label="Limpar Formulario" severity="warning" icon="pi pi-times" iconPos="right"></p-button>
                </div>
                <div class="field col-12 md:col-3">
                    <a routerLink="/produto-pesquisa">Voltar para lista de produto</a>
                </div>
            </div>
        </p-card>
        <p-toast></p-toast>
    </form>   
</div>